
.table.table-striped{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table.table-striped tr td a{
    color: #000000;

}

.table.table-striped tr td a:hover{
    text-decoration: none;
}