.order_container{width:90%;padding: 50px 0 0 0}
.steps{width:100%;letter-spacing:0;text-align:center;display:flex;}
.steps .step{display:flex;width:25%;margin:auto;border-top:1px solid #ededed;border-bottom:1px solid #ededed;padding:15px;font-size:12px;text-align:center;position:relative;height:28px}
.steps .step .content{display:flex;margin:auto}
.steps .step:after{content: '';position: absolute;top: 8px;right: 0;width: 41px;height: 41px;transform: rotate(45deg);right: -21px;border-top: 1px solid #ededed;border-right: 1px solid #ededed;background:#FFF;z-index:2}
.steps .step.active:after{background:#ededed}
.steps .step:nth-child(1){border-radius:10px 0 0 10px;border-left:1px solid #ededed;}
.steps .step:nth-child(4){border-radius:0 10px 10px 0;border-right:1px solid #ededed;}
.steps .step:nth-child(4):after{display:none}
.steps .step .num{background: #ededed;border-radius: 100%;position:relative;top:-2px;width:30px;height:30px;display:flex}
.steps .step .num *{margin:auto;display:flex}
.steps .step.active .num{background: #feee35;border-radius: 100%;}
.steps .step .num.green{background:#1eae54}
.steps .step .title{padding:5px 5px 5px 15px;}
.steps .step.active{background:#ededed;}
.step_form .error{color: #CC0000;}
.step_form .tabs{position:relative;z-index:3;}
.step_form .tabs .tab{color:#2067b0;display:inline-flex;width:270px;border: 2px solid #FFF;padding: 20px 10px;text-align: left;background:#FFF;border-bottom:none}
.step_form .tabs .tab.active{color:#000;border: 2px solid #ededed;border-bottom:2px solid #FFF;}
.step_form .tabs .tab a{cursor:pointer;margin:auto;font-size:14px}
.step_form .tabs_content{padding:40px 30px;border: 2px solid #ededed;width:100%;position:relative;top:-2px;z-index:2;}
.step_form .tabs_content .left_block ul li ul{display:none;}
.step_form .tabs_content .left_block ul li.active ul{display:block;}
.step_form .tabs_content .left_block{width:calc(50% - 62px);display:inline-flex;float:left;flex-direction:column;padding:0 50px 0 12px}
.step_form .tabs_content .right_block{width:50%;display:inline-flex;float:right;height:400px;}
.step_form .tabs_content .left_block.step2_3, .step_form .tabs_content .right_block.step2_3{flex-direction:column;height:200px;}
p.main_title{font-size:20px;font-weight:bold;color:#000000;padding-bottom:30px}
p.main_title.m{padding-bottom:10px}
.step_form .form_block{padding:10px 0 10px 0}
.step_form .form_block.agree_block{font-size:14px;color:#3b97f7}
.step_form .form_block.agree_block a{text-decoration:underline;font-size:14px;color:#3b97f7}
a.check-step{color:#000;text-decoration:none}
a.check-step:hover{text-decoration:underline}
.order_container input[type='text'], .order_container input[type='email'], .order_container input[type='number']{width: 580px;height: 50px;-webkit-appearance: none;background: #FFF;border: 2px solid #ededed;padding-left: 20px}
.left_block.step2_3 input[type='text']{width: 580px;height: 50px;-webkit-appearance: none;background: #FFF;border: 2px solid #ededed;padding-left: 20px}
textarea.comm{width: 580px;height: 150px;-webkit-appearance: none;background: #FFF;border: 2px solid #ededed;padding: 20px}
.order_container input[type='submit']{margin-top:20px;-webkit-appearance: none;background: #ef293b;color: #FFF;font-size: 15px;padding: 20px 30px;border: none;transition:0.5s;margin:auto}
#cdek input[type='submit']{padding:10px 30px}
.pp_form input[type='submit']{margin-top:20px;-webkit-appearance: none;background: #ef293b;color: #FFF;font-size: 15px;padding: 10px 20px;border: none;transition:0.5s;margin:auto;#feee34}
button.create_order{-webkit-appearance: none;background: #ef293b;color: #FFF;font-size: 15px;padding: 10px 40px;border: none;transition:0.5s;margin:20px 0}
button.create_order{margin-top:20px;-webkit-appearance: none;background: #ef293b;color: #FFF;font-size: 15px;padding: 20px 40px;border: none;transition:0.5s}
.order_container input[type='submit']:hover{background:#ab1e2b}
button.create_order:hover{background:#ab1e2b}
.pp_form input[type='submit']{background:#feee35;color:#000}
.pp_form input[type='submit']:hover{background:#f1e670}

.ymaps-2-1-68-balloon__content{padding:20px 30px}
.ui-autocomplete-loading {background: #FFF right center no-repeat;}
#city { width: 25em; }
#log { height: 200px; width: 600px; overflow: auto; }
#dil_form{display:none;}
.select_dil .row{display:flex;}
.select_dil .row .col1{width:40%;display:flex;}
.select_dil .row .col2{width:30%;display:flex;}
.select_dil .row .col3{width:30%;display:flex;}
.select_dil .row .col1.item div{margin:auto;}
.select_dil .row .col2.item div{margin:auto 0;}
.select_dil .row .col3.item div{margin:auto 0;}
.select_dil{font-weight:500}
.select_dil .col1 div{display:inline-flex;}
.select_dil .col1 .radio-btn div{display:none}
.select_dil .col1 img{width:100px;border:1px solid #ededed}

.left_block .info{display:flex;padding-bottom: 15px;border-bottom: 1px solid #ededed;margin-bottom: 20px;}
.left_block .info .l{width:50%;text-align:left;text-transform: uppercase;font-weight: bold;font-size: 11px}
.left_block .info .l.full{width:100%}
.left_block .info .r{width:50%;text-align:right;position:relative;text-transform: uppercase;font-weight: bold;font-size: 11px}
.left_block .info .r span.time:before{content:'';position:absolute;width:16px;height:16px;background:url('/personal/order/make/img/time.png');left:55px;top:-1px}

.left_block ul li{list-style:none}
.left_block ul.st11_city .city_title{color:#2067b0;text-decoration:none;border-bottom:1px dotted #2067b0;font-size:16px;}
.left_block ul.st11_city li{padding:7px 0}
.left_block ul.st11_city li ul{padding-left: 15px;padding-top: 10px;font-size: 12px;}

.pp_block1 p.tt{margin: 0;padding: 0;color: #a29e9e;font-size: 15px;}
.pp_block1 p:nth-child(2){margin: 0;padding: 0;font-weight: bold;font-size: 15px}
.pp_block2 p.tt{margin: 0;padding: 0;color: #a29e9e;font-size: 15px;}
.pp_block2 p:nth-child(2){margin: 0;padding: 0;font-weight: bold;font-size: 15px}
.pp_block2 p:nth-child(4){margin: 0;padding: 0;font-weight: bold;font-size: 15px}
.tbc2 ul li{padding:5px 0;font-size:13px}
.ui-menu.ui-widget{max-width:333px;background:#FFF;border: 2px solid #ededed;padding: 10px; border-top: none;list-style: none;font-size: 13px}
.ui-menu.ui-widget li{padding:3px 0;cursor:pointer;font-weight:100}
.ui-menu.ui-widget li:hover{background:#ededed}

.step2_3 .weight{font-weight: 100;font-size: 15px}
.step2_3 .weight span{font-weight: bold}
.step2_3 .size{font-weight: 100;font-size: 15px}
.step2_3 .size span{font-weight: bold}
.select_dil .row:nth-child(2){background: #e8ecef;padding: 10px 30px}
.select_dil .row:not(:first-child){    padding: 10px 30px;font-weight:100;font-size:14px}
.select_dil .row{font-weight:500}


.radio-btn{min-width:12px;cursor:pointer;position: relative;display: flex;width: 12px;height: 12px;border-radius: 100%;border: 2px solid #2067b0;padding: 0;margin: 0}
.radio-btn div{display: flex;width: 6px;height: 6px;background: #2067b0;margin: auto auto;border-radius: 100%;position: relative;padding: 0;display:none}
.radio-btn.check div{display:block !important}
.select_dil .col1 .radio-btn.check div{display:block}
.address_form{margin-top:20px}
.nstep{margin-top:30px}

.address_form{max-width:100%}
.address_form .row{padding:10px 0;display:flex;flex-direction:column}
.address_form .row.cc{flex-direction:row;max-width:626px}
.address_form .row .case{display:flex;flex-direction:column;width:33%}
.address_form input[type='text'],.address_form input[type='number'],.address_form input[type='email']{width:calc(100% - 25px) !important}
.address_form .row .case:nth-child(2){margin-left:1.5%}
.address_form .row .case:nth-child(3){margin-left:1.5%}
.address_form .row div.title{font-size: 13px;padding-bottom: 10px;color: #444343}
.address_form input[type='submit']{padding: 10px 20px}
.pay_methods{margin:40px 0;display:flex}
.pay_methods img{margin:0 15px}
.address_form input{max-width:600px}
.address_form .row div span{font-weight: 100;padding-left: 20px;font-size: 12px}

#payment_method .row{display:flex;padding:8px 0;font-weight:100}
.order_info{padding-bottom:50px}
.order_info .row{display:flex;padding:10px 0;font-size:14px}
.order_info .row div:first-child{font-weight:100;width:160px}

.basket_items{padding-bottom:30px}
.basket_items .row{display:flex;padding:10px 0}
.basket_items .row .img{width:50px}
.basket_items .row .img img{border:1px solid #ccc6c6}
.basket_items .row .name{padding-left:20px;width:50%}
.basket_items .row .name a{color:#377bba;text-decoration:none}
.basket_items .row .name a:hover{text-decoration:underline}
.basket_items .row .discount{width:100px;text-align:center}
.basket_items .row .quantity{width:200px;text-align:center}
.basket_items .row .price p.price{font-weight: bold;padding-bottom: 0}
.basket_items .row .price p.old-price{font-weight: bold;font-size: 14px;text-decoration: line-through;color: #a7a5a5}

.client_info .row{display:flex;padding:8px 0;font-size:14px}
.client_info  .row div:first-child{font-weight:100;width:180px}

div.comm{margin-top:50px}
div.comm .title{font-size:14px;padding:10px 0}

.gift_block p:first-child{color: #FF0000;font-size: 14px;margin: 0;padding: 0}
.gift_block ul{font-size: 13px;padding-left: 30px;font-weight: 100}

.client_info .ctab{display:none}
.client_info .ctab.active{display:block}

	
#step1_form input[type='submit']{padding: 15px 30px}
#step4_form input[type='text'], #step4_form input[type='number'], #step4_form input[type='email']{width:422px} 

.st11_city li .name{width:58%}
.call-manager a{color: #2067b0;text-decoration: none;font-size:11px}
.call-manager a:hover{border-bottom: 2px dotted #2067b0}





.altasib_geobase_sml_win_block::before{filter: drop-shadow(0 -2px 2px rgba(0,0,0,.1)) !important}

@media(max-width:1100px )
{
	.left_block .info .r span.time:before{left:22px}
	.st11_city li .name{width:55%}
	
}
@media(max-width:800px)
{
	.right_block.step2_3{height:initial}
	.steps{flex-direction:column}
	.steps .step{width:70%;text-align:left}
	.steps .step .content{margin:0}
	input{max-width:100%}
	input[type='submit']{font-size:12px !important}
	.steps .step{border-radius:10px 0 0 10px;border-left:1px solid #ededed;}
	.steps .step:nth-child(4):after{display:block}
	.step_form .tabs_content{width: calc(100% - 24px);padding: 40px 10px;}
	.step_form .tabs_content .left_block{width:100%;padding:0}
	.step_form .tabs_content .right_block{width:100%}
	.step_form .tabs .tab{border:1px solid #ededed}
	.step_form .tabs .tab:nth-child(2){border-top:none}
	.step_form .tabs .tab:nth-child(3){border-top:none}
	.step_form .tabs .tab.active{background:#ededed}
	.step_form .tabs_content{width: calc(100% - 24px)}
	.order_container{width:100%;overflow:hidden}
	.left_block .info .l{font-size:11px}
	.left_block .info .r{font-size:11px}
	.left_block .info .r span.time:before{display:none}
	.step_form .tabs .tab{width:calc(100% - 23px)}
	.pay_methods{display:block}
	.basket_items .row{flex-wrap:wrap;border-bottom:2px solid #ededed}
	.basket_items .row .name{width:75%}
	.basket_items .row .discount{width:60px;margin:20px 0 0 0}
	.basket_items .row .quantity{width:150px;margin:20px 0 0 0}
	.basket_items .row .price{margin:10px 0 0 0}
	textarea.comm{width: calc(100% - 44px)}
	.client_info .row{flex-direction:column}
	.client_info input[type='text'],.client_info input[type='email'],.client_info input[type='number']{width: calc(100% - 24px);}
	.select_dil .row:not(:first-child){flex-wrap:wrap}
	.select_dil .row .col1{width:100%}
	.select_dil .row .col2{width:50%}
	.select_dil .row .col3{width:50%}
	.order_info .row{flex-direction:column}
	#step1_form input[type='submit']{padding: 15px 10px}
	#step1_form_user input[type='submit']{padding: 15px 10px}
	.step_form .tabs_content{padding:10px}
	#payment_method input[type='submit']{padding:10px 20px}
	.back-click{display:block;margin-top:20px;position:relative;padding-left:20px;font-size:12px}
	.back-click:after{display:none}
	#payment_method{display:flex;flex-direction:column}
}
@media(max-width:600px)
{
	input{max-width:90%}
	.ctab select{max-width:80%}
}
@media(max-width:350px)
{
	input{max-width:90%}
	.ctab select{max-width:260px}
}